/* Gradients / .gradient - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Bordered / .bordered- elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Rounded / .rounded - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Opacity / .opacity- elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Transition / .transition-duration - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Shawows / .drop-shadow - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Columns / .columns - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Fonts / .main-font - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Spacing / .spacing - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Other / .box-sizing - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
/* Grid System 12 Columns / .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11  - elements.less
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1 {
  width: 8.333333333333332%;
}
.col-2 {
  width: 16.666666666666664%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333333333%;
}
.col-5 {
  width: 41.66666666666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333333333336%;
}
.col-8 {
  width: 66.66666666666666%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333333334%;
}
.col-11 {
  width: 91.66666666666666%;
}
.col-12 {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .wrap-slider_second-type .bx-controls-direction .bx-prev {
    left: 2% !important;
  }
  .wrap-slider_second-type .bx-controls-direction .bx-next {
    right: 2% !important;
  }
}
/* End max width 1280 */
@media screen and (max-width: 1135px) {
  .container {
    padding-right: 2% !important;
    padding-left: 2% !important;
  }
  .top-bar .container {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
  .header {
    height: auto;
  }
  .logo {
    float: none;
    display: block;
    text-align: center;
    margin-top: 0;
    padding-bottom: 2.41187384045%;
  }
  .nav {
    float: none;
    width: 100%;
    margin-right: 0;
    height: auto;
    text-align: center;
  }
  .nav__item {
    padding: 2.453441% 4.38596491228% 2.398111%;
  }
  .nav__item:first-child {
    border-left: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .wrap-slider .bx-controls-direction {
    position: absolute;
    top: 2%;
    left: 2%;
  }
  .wrap-slider .bx-controls-direction a {
    position: initial;
    display: inline-block;
    margin-right: 25px;
  }
  .latest-photo__bottom-section .details__item {
    margin-right: 2px;
    padding: 0;
  }
}
/* End max width 1135 */
@media screen and (max-width: 1024px) {
  .artists {
    text-align: center;
  }
  .artist__container {
    text-align: left;
  }
  .footer > .top-section {
    height: auto;
  }
  .contacts__col {
    margin: 0 0 5% 7.35586481113%;
  }
  .wrap-slider_posters {
    height: auto;
  }
}
/* End max width 1024 */
@media screen and (max-width: 860px) {
  .blog-post__footer .footer-info {
    float: none;
    margin: 0;
  }
  .events-container__left {
    float: none;
    width: 100%;
  }
  .events-container__right {
    float: none;
    width: 100%;
    margin-top: 2%;
  }
  .events-container__right .widget {
    width: 47%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
  }
  .popular-video {
    padding-top: 0;
  }
  .tour-event__content {
    width: 85%;
  }
  .tour-event__btns {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 2%;
  }
  .tour-event__btn {
    padding: 2.712121% 5.257576%;
  }
  .latest-photo {
    width: 31%;
  }
  .detailed-plr {
    padding-left: 2.31910946197%;
  }
  .detailed-plr:before {
    display: none;
  }
  .detailed-plr .jp-controls li .jp-play,
  .detailed-plr .jp-controls li .jp-pause {
    left: 0;
  }
}
/* End max width 860 */
@media screen and (max-width: 800px) {
  .artist {
    width: 30%;
  }
  .gallery-photo {
    width: 32.3%;
  }
}
/* End max width 800 */
@media screen and (max-width: 768px) {
  .header .container {
    padding: 0 !important;
  }
  .search {
    width: 25%;
  }
  .nav {
    display: none;
  }
  .nav__item {
    border-left: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .btn-nav-toggle {
    display: block;
  }
  .page-header {
    height: auto;
    text-align: center;
    padding: 2% 0;
  }
  .page-heading {
    position: inherit;
    top: 0;
    right: 0;
    display: inline-block;
    width: auto;
    height: auto;
    border-bottom: 1px solid #f39e20;
  }
  .page-heading__title {
    padding: 0 15px;
  }
  .wrap-breadcrumb {
    float: none;
    display: block;
    width: auto;
    padding-top: 3.0612244898%;
  }
  .artist-info {
    margin-top: 8%;
  }
  .footer > .top-section {
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .brands,
  .contacts {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .second-nav,
  .copy {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .event-slide__header {
    margin-bottom: 5%;
  }
  .event-slide__title {
    margin-bottom: 0;
    font-size: 2em;
  }
}
/* End max width 768 */
@media screen and (max-width: 680px) {
  .latest .container > .left-col,
  .latest .container > .right-col {
    float: none;
    width: 100%;
    margin-bottom: 2%;
  }
  .blog__container .footer-info {
    float: none;
  }
  .contact-info {
    float: none;
    width: 100%;
  }
  .contact-info .social__item {
    display: inline-block;
    margin-right: 2%;
  }
  .contact-info .social__item:last-child {
    margin-right: 0;
  }
  .contact-container {
    background-position: top center;
  }
  .contact-form {
    float: none;
    width: 100%;
  }
  .contact-form .title {
    margin-bottom: 2%;
  }
  .contact-form__left-col {
    float: left;
    width: 25%;
  }
  .contact-form__right-col {
    float: right;
    width: 73%;
  }
  .event-slide__right-col,
  .event-slide__left-col {
    float: none;
    width: 100%;
  }
  .event-slide__right-col {
    text-align: center;
    margin-bottom: 3%;
  }
  .wrap-sldier_event-slider {
    height: auto;
  }
  .popular .container > .left-col {
    float: none;
    width: 100%;
    margin-bottom: 4%;
  }
  .popular .container > .right-col {
    float: none;
    width: 60%;
    margin: 0 auto;
  }
  .latest-photo__left-col {
    float: none;
    width: 100%;
  }
  .latest-photo__left-col .title,
  .latest-photo__left-col .second-btn,
  .latest-photo__left-col .social {
    margin: 0;
  }
  .latest-photo__left-col .social {
    margin-top: 3%;
  }
  .latest-photo__left-col .social__item {
    display: inline-block;
    margin-right: 3%;
  }
  .latest-photo__left-col .social__item:last-child {
    margin-right: 0;
  }
  .latest-photo__right-col {
    float: none;
    width: 100%;
    margin-top: 2%;
  }
  .latest-gallery {
    text-align: center;
  }
  .latest-photo {
    width: 28%;
  }
  .latest-photo__overlay-layer {
    text-align: left;
  }
  .players-col {
    float: none;
    width: 100%;
  }
  .detailed-plr .jp-progress,
  .detailed-plr .jp-time-holder,
  .detailed-plr .jp-controls li .jp-mute,
  .detailed-plr .jp-controls li .jp-unmute,
  .detailed-plr .jp-volume-bar {
    display: none !important;
  }
  .detailed-plr {
    padding: 0;
    height: auto;
  }
  .detailed-plr .jp-interface {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    background: #0e0e0e;
  }
  .detailed-plr .jp-controls li a {
    position: initial;
    margin: 6px auto;
  }
  .detailed-plr .jp-details {
    position: initial;
    display: inline-block;
    vertical-align: middle;
    width: 78%;
    padding: 2%;
  }
}
/* End max width 680 */
@media screen and (max-width: 600px) {
  .artist-info {
    width: 100%;
  }
  .artist {
    width: 45%;
  }
  .footer > .middle-section .container > .left-col {
    width: 100%;
  }
  .footer > .middle-section .container > .middle-col {
    width: 35%;
  }
  .footer > .middle-section .container > .right-col {
    width: 65%;
    padding-left: 0;
  }
  .map {
    padding: 0;
  }
  .footer > .middle-section {
    padding: 2% 0;
  }
  .gallery-photos {
    text-align: center;
  }
  .gallery-photo {
    width: 49%;
  }
}
/* End max width 600 */
@media screen and (max-width: 568px) {
  .wrap-slider {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .artist-info {
    margin-top: 10%;
  }
  .artist-info__title {
    font-size: 3em;
    margin: 0 0 1% 0;
  }
  .artist-slider__item {
    height: auto;
  }
  .wrap-artists {
    border-bottom: none;
  }
  .wrap-album-slider {
    display: none;
  }
  .album-list {
    width: 100%;
    margin-top: 0;
  }
  .album-list_left {
    border-bottom: 1px solid #000;
    padding-bottom: 5.2738336714%;
  }
  .album-list_right {
    border-top: 1px solid #1f1f1f;
    padding-top: 5.2738336714%;
  }
  .blog__thumb,
  .blog__container {
    float: none;
    display: block;
    width: 100%;
  }
  .blog__thumb {
    margin-bottom: 5%;
    text-align: center;
  }
  .blog__thumb iframe {
    height: auto;
  }
  .blog__container:hover:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #000;
  }
  .blog__container:before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    margin-top: 0;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #151515;
  }
  .blog__container .footer-info {
    float: right;
  }
  .blog__footer .second-btn {
    float: left;
  }
  .second-type-event__footer .footer-info {
    float: none;
  }
  .second-type-event__footer .second-btn {
    margin-top: 2%;
  }
  .second-type-event__header .meta__date,
  .second-type-event__header .meta__time {
    display: block;
  }
  .second-type-event__header .meta__date {
    margin-bottom: 4%;
  }
  .events-container .wrap-pagination {
    text-align: center;
  }
  .widget .title {
    font-size: 2em;
  }
  .tour-event__time {
    display: block;
    margin-left: 0;
  }
  .tour-event .date {
    float: right;
  }
  .content-slide {
    width: 100%;
  }
}
/* End max width 568 */
@media screen and (max-width: 480px) {
  .search {
    float: none;
    clear: both;
    display: block;
    margin-top: 7%;
    width: 50%;
  }
  .footer > .middle-section .container > .middle-col {
    width: 100%;
    margin-bottom: 2%;
  }
  .footer > .middle-section .container > .right-col {
    width: 100%;
  }
  .footer > .middle-section .container > .middle-col .category {
    display: inline-block;
  }
  .contact-form {
    width: 100%;
  }
  .contact-form__left-col,
  .contact-form__right-col {
    float: none;
    width: 100%;
  }
  .second-type-event__footer .details__item {
    border-right: none;
    margin-bottom: 2%;
  }
  .events-container__right .widget {
    width: 85%;
    margin: 1% auto;
    display: block;
  }
  .events-container__right {
    margin-top: 5%;
  }
  .tour-event .date {
    float: none;
    display: inline-block;
  }
  .popular .container > .right-col {
    width: 80%;
  }
  .latest-photo {
    width: 40%;
  }
  .latest-photo__bottom-section .details {
    text-align: center;
  }
  .latest-photo__bottom-section .details__item {
    margin-bottom: 2px;
  }
  .content-slide .categories {
    width: 100%;
  }
  .latest-header__line:before {
    left: -10px;
  }
  .latest-header__line:after {
    right: -10px;
  }
}
/* End max width 480 */
@media screen and (max-width: 320px) {
  .shopping-cart {
    float: none;
    display: inline-block;
    margin-top: 15px;
  }
  .top-bar {
    text-align: center;
  }
  .account,
  .shoppingCart {
    float: none;
    display: block;
    text-align: center;
    margin-top: 4%;
  }
  .search {
    width: 100%;
  }
  .logo {
    padding: 5% 0;
  }
  .btn-nav-toggle {
    padding: 3%;
  }
  .artist {
    width: 83%;
  }
   .top-section {
    height: auto;
    padding-top: 4%;
    padding-bottom: 4%;
  }
  .album-item__thumb {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .album-item__body {
    padding: 0;
  }
  .blog-post__thumb {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 3%;
  }
  .blog-post__wrap {
    padding-left: 0;
  }
  .blog-post__footer .footer-info,
  .blog-post__footer .footer-info,
  .blog__container .footer-info,
  .blog__footer .second-btn {
    float: none;
  }
  .second-type-event__thumb {
    float: none;
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 4%;
  }
  .second-type-event__body {
    padding: 0;
  }
  .events-container__right .widget {
    width: 100%;
  }
  .gallery-photo {
    width: 100%;
    margin-bottom: 2%;
  }
  .popular .container > .right-col {
    width: 100%;
  }
  .latest-photo {
    width: 48%;
  }
}
/* End max width 320 */
