
/*xs*/
@media (max-width: 767px) {
    .arcade-main-right{display: none;}
    .arcade-main-left{display:none}
    .new-arcade-items .empty>img{ width: 80px;}
    .arcade-item{width: calc((100% - 25px) / 2) !important;}
    .arcade-item:nth-child(even) {margin-right: 0;}
    /*.arcade-item:nth-child(3n) {  margin-right: 25px;}*/
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 8px !important; }
    .nav-pills{margin-left: 20% !important}
}
@media (max-width: 459px) {        .arcade-carousel-item-image{height: 70px !important;}  }
@media (min-width: 460px) and (max-width: 767px) {
    .arcade-item:nth-child(even) {margin-right: 0 !important;}
    .arcade-item:nth-child(3n) {  margin-right: 25px;}
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
    .arcade-main-right{display: none;}
    .arcade-main-right{display: none;}
    .arcade-main-left{display:none}
    .arcade-main-center{margin-left: 80px;}
    .nav-pills .body-tab-list:nth-child(3){display: block; clear: left;}
    .new-arcade-items .empty>img{ width: 110px;}
    .nav-pills > li> a{width: 400px !important;  text-align: center !important;}
    .arcade-item{width: calc((100% - 125px) / 5) !important;}
    .arcade-item:nth-child(3n) {margin-right: 25px !important;}
    .arcade-item:nth-child(5n) {margin-right: 0;}
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 8px !important;}
    .nav-pills{margin-left: 20% !important}

}
/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
    .arcade-main-right{display: none;}
    .new-arcade-items .empty>img{ width: 140px;}
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 11px;}
    .arcade-item{width: calc((100% - 125px) / 6) !important;}
    .arcade-item:nth-child(4n) {margin-right: 25px;}
    .arcade-item:nth-child(6n) {margin-right: 0;}
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 11px;}
}
/*lg*/
@media (min-width: 1200px) {
}
/*xl*/
@media (max-width: 1319px) and (min-width: 1200px) {
    .arcade-item:nth-child(5n) {margin-right: 25px !important;}
    .arcade-item:nth-child(7n) {margin-right: 0;}
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 11px;}
    .arcade-carousel-item-image{height: 90px !important;}

}
@media (max-width: 1749px) and (min-width: 1320px) {
    .arcade-item:nth-child(6n) {margin-right: 25px}
    .arcade-item:nth-child(7n) {margin-right: 0;}
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 11px;}
    .arcade-main-right{font-size: 25px!important;}
    .arcade-main-right-redded{font-size: 35px!important; }
    .arcade-carousel-item-image{height: 90px !important;}
}
@media (max-width: 1749px) {
    .arcade-item {  width: calc((100% - 150px) / 7);  margin-right: 25px; }
    .new-arcade-items .arcade-item .arcade-item-name{font-size: 11px;}

}
@media (min-width: 2000px) {
    .arcade-main-left>img {  width: 220px !important;}
    .arcade-main-right{font-size: 60px!important;}
    .arcade-main-right-redded{font-size: 80px!important; }
    .nav-pills{padding-left: 25% !important;}
    .arcade-carousel-item-hover-text{font-size: 15px !important;}
    .arcade-carousel-item-hover-text-title{height: 50px !important; margin-bottom: 6%!important;}
    .new-arcade-items .empty>img{ width: 300px;}
    .new-arcade-items .empty>p{ font-size: 50px;}
    .arcade-main-title>h4 {  font-size:30px}
    .arcade-main-right{font-size: 30px!important;}
    .arcade-main-right-redded{font-size: 50px!important; }
    .arcade-carousel-item-image{height: 120px !important;}

}
@media (max-width: 3799px) and  (min-width: 2690px) {
    .arcade-main-left{width: 10% !important;}
    .arcade-main-center{width: 70% !important;}
    .arcade-main-right{width: 15% !important;}
    .arcade-main-title>h4 {  font-size:40px}
    .arcade-main-right{font-size: 40px!important;}
    .arcade-main-right-redded{font-size: 60px!important; }
    .arcade-carousel-item-image{height: 150px !important; }

}
@media (min-width: 3800px) {
    .nav-pills {  padding-left: 30% !important;  }
    .nav-pills > li > a {  width: 400px !important;  }
    .arcade-main-left{width: 10% !important;}
    .arcade-main-center{width: 76% !important;}
    .arcade-main-right{width: 12.5% !important;}
    .carousel-col .arcade-carousel-item {width: 300px !important; height: 300px !important}
    .arcade-main-left>img {  width: 350px !important;}
    .arcade-main-right{font-size: 80px!important;}
    .arcade-main-right-redded{font-size: 90px!important; }
    .arcade-carousel-item-hover-text{font-size: 30px !important;}
    .arcade-carousel-item-hover-text-title{height: 95px !important;}
    .arcade-main-title>h4 {  font-size:60px}
    .arcade-carousel-item-image{height: 250px !important;}

}


.arcade-main-title>h4 {
    color: white;
    padding: 15px;
    font-weight: bolder;
}

/* Carousel Code */

.arcade-main {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.arcade-main-left{     margin-left: 50px;  }


.arcade-main-left>img{
    float: left;
    width: 160px;
    margin-top: -30px;
}


.arcade-carousel-item{
    position: relative;
}

.arcade-carousel-item-image{
    transition: .5s ease;
    backface-visibility: hidden;
    height:90px;
}

.arcade-carousel-item-hover-background{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 10px;
    width:100%;
    height:100%;
    background: red;
}



.arcade-carousel-item-hover-text{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 10px;
    width:100%;
    height:100%;
}



.arcade-carousel-item-hover-text-title{
    margin-top:12%;
    margin-bottom:12%;
    height: 26px;
}

.arcade-carousel-item-hover-text-footer{
    color: black;
    font-weight: bold;
    padding: 2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


.arcade-main-right{
    color: white;
    text-align: center;
    font-family: stadium-1946;
    font-size: 1.7vw;
    line-height: 1.05;
}
.arcade-main-right-redded{
    color:#BE1D29;
    display: block;
    font-size: 2.4vw;
    text-shadow: 5px 5px 0px black;
}

/* END Carousel Code */



/* Body Code */
.tab-pane{
    background-color: #2B2A2A;
    padding: 50px;
}

.arcade-body{
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
    width:100%;

}

.body-tab-list{
    padding:0 5px;

}

.body-tab-list>a{
    color:white;
    border-radius: 0;
}

.body-tab-list a{
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: background-color 0.5s;
}

.nav-pills {
    margin-left: 7%;
}

.nav-pills > li a{
    width: 250px;
    text-align: center;
}

.nav-pills > li.active   a, .nav-pills > li.active   a:focus, .nav-pills > li.active   a:hover  {
    background: #2F2E2E;
    color:#EC1D29;
    border-radius: 0;

}

.new-arcade-items .empty{
    color: #f4f3f3;
    width: 100%;
    text-align: center;
}
.owl-prev{

    top: 20%;
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0) !important;
    margin-left: -30px !important;
}

.owl-next {
    top: 20%;
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0) !important;
    margin-right: -30px !important;
}

/* END Body Code */
