.trove-store-header-phrase {
    flex-shrink: 0;
    font-family: Stadium, serif;
    font-size: calc(25px + 6 * ((100vw - 320px) / 680));
    font-weight: normal;
    line-height: .9;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 4px 5px 0 #000000;
}

.store-header-info {
    flex-shrink: 0;
    font-family: Stadium, serif;
    font-size: calc(100% + 1vh + 1vw);
    font-weight: normal;
    line-height: 1;
    color: #f4f3f3;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 4px 5px 0 #000000;
}

div.d-none.d-lg-block.col-lg-3 div.img_contain {
    height: 40vh;
}

.settings-filters-hide-block {
    position: absolute;
    margin-top: 30px;
    top: 100%;
    left: 0;
    height: 0;
    right: 0;
    overflow: hidden;
    transition: all .5s;
    z-index: 100;
    background-color: #100f0f;
}

.settings-filters-blocks {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 10px 15px;
    background-color: #100f0f;
}

.settings-filters-blocks-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}

.activeH {
    transition: all .5s;
    height: 100% !important;

}

nav div.nav.nav-pills.nav-justified .nav-link {
    background: #2f2e2e;
    color: #fff;
    border-radius: 0;
}

nav div.nav.nav-pills.nav-justified .nav-link.active {
    color: #EC1D29;
}

/* Arcade Start */
.trove-carousel-div-content {
    height: 235px;
    width: 140px;
}

.trove-carousel-div-header {
    padding: 7px 12px;
    background-color: rgba(220, 41, 30, 0.6);
    transition: background-color 0.5s;
}

.trove-carousel-div-footer {
    align-items: center;
    max-width: 140px;
    height: 65px;
    background-color: #100f0f;
    font-size: 12px;
    font-weight: normal;
    color: #f4f3f3;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
}

.trove-carousel-div-midle {
    height: 60%;
}

.trove-carousel-div .slick-dots {
    width: unset;
    left: calc(25% + 1vw);
}

.mobile-carousel-logo .slider {
    width: 90px;
    height: 90px;
}

/* Arcade End */
/*=============================
        slider
=============================*/

.slick-slide {
    position: relative;
    outline: none;
    z-index: 1;
}

.slick-slide.slick-current {
    z-index: 2;
}

.slick-arrow {
    position: absolute;
    width: 50px;
    top: 0;
    height: 90%;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    text-indent: -9999px;
    z-index: 999;
    cursor: pointer;
}

.slick-arrow:focus {
    outline: none;
}

.slick-arrow:before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -21px;
    transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
}

.slick-arrow:after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    top: 50%;
    background-color: white;
    transition: all, 0.4s 0.1s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
    opacity: 0;
}

.slick-arrow.slick-prev {
    left: 0;
}

.slick-arrow.slick-prev:before {
    border-top: 2px solid white;
    border-left: 2px solid white;
    left: 0;
    transform: rotate(-45deg);
}

.slick-arrow.slick-prev:after {
    left: 300px;
}

.slick-arrow.slick-prev:hover:before {
    left: 10px;
}

.slick-arrow.slick-next {
    right: 0;
}

.slick-arrow.slick-next:before {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    right: 0;
    transform: rotate(-45deg);
}

.slick-arrow.slick-next:after {
    right: 300px;
}

.slick-arrow.slick-next:hover:before {
    right: 10px;
}

.slick-dots {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 15px;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px;
}

.slick-dots li.slick-active button {
    background-color: #dc291e;
    height: 14px;
    width: 14px;
}

.slick-dots li.slick-active button:hover {
    background-color: #dc291e;
}

div.slick-list.draggable {
    margin: 0 auto;
    width: 90%;
}

.slick-dots li button {
    outline: none;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    text-indent: -9999px;
    border-radius: 100%;
    cursor: pointer;
    transition: all, 0.2s, ease-in 1s ease-in-out;
}

.slick-dots li button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.page-link {
    background: transparent;
    border: unset;
    color: #fff;
}

.page-item.active .page-link {
    color: #ed1c24;
    background: transparent;
    border: unset;
}

.page-link:hover {
    color: #ed1c24;
    background: transparent;
    border: unset;

}

.page-link:focus {
    color: #ed1c24;
    background: transparent;
    border: unset;
    z-index: 3;
    outline: 0;
    box-shadow: unset;
}

.page-item.disabled .page-link {
    pointer-events: none;
    background-color: transparent;
    border-color: unset;
}
/* Filter LG Buttons Dropdown Start*/
.filter-button {
    font-weight: normal;
    color: #f4f3f3;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000000;
    cursor: pointer;
}
.collapsed_genre {
    position: absolute;
    margin-top: 0;
    opacity: 0;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.8s ease-in-out;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #100f0f;
    border: 1px solid #3e3e3e;
    border-radius: 2px;
    width: 180px;
    text-align: left;
    margin-left: 4.5%;
    z-index: 3;
}
.opened_gere{
    opacity: 1;
}
/* Filter LG Buttons Dropdown End*/

@media only screen and (min-width: 767px) {
    .trove-store-header-phrase {
        font-size: calc(20px + 6 * ((100vw - 320px) / 680));
    }
}
