.cart-button {
    color: #f3f3f3;
    border: 2px solid #f3f3f3;
    background: rgba(65, 65, 65, 0.7);
    font-size: 10px;
    padding: 7px;
    outline: none;
}
.border-bottom-product {
    border:  2px solid #585858;
}
.border-product-without-top {
    border-right:  2px solid #585858;
    border-left:  2px solid #585858;
    border-bottom:  2px solid #585858;
}
.border-product-bottom {
    border-bottom:  2px solid #585858;
}
.stock-clip {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background-color: rgba(1,1,1,0.5);
    font-size: x-small;
    padding: 5px 15px;
}
.stock-clip-danger{
    background-color: rgba(238, 13, 13,0.5)!important;
}
.fs-7 {
    font-size: 12px;
}
.input_style {
    flex: 3;
    border: 2px solid #585858;
    background: transparent;
    border-radius: 0;
    padding-left: 10px;
    height: 35px;
    font-size: 14px;
    min-width: 50%;
    outline-color: #dc291e;
    transition: border 500ms ease-out;
    color: white;
}
@media only screen and (min-width: 1680px) {
    .stock-clip {
        font-size: 19px;
        padding: 5px 25px;
    }
}
